/.cache/
*.swp
*.o
build/
.vscode/
/build-*
.direnv/
/examples/build/
/test_runtime/*.log
/test_runtime/priv/*.pem
/test_runtime/pub/*.pub
/test_runtime/test_unicast.conf
*.pyc
__pycache__/

# ESP-IDF build artifacts
/esp-idf/
/build/
sdkconfig
sdkconfig.defaults
*.bin
*.elf
*.map
/bootloader/
/partition_table/
/toolchain/
/flash_args
/flash_args.in
/flash_*.args
/flasher_args.json
/project_description.json
/compile_commands.json
/dependencies.lock
/config.env
/config/
/log/
/gdbinit/
/kconfigs.in
/ldgen_libraries*
/x509_crt_bundle.S
/app-flash_args
/bootloader-flash_args
/bootloader-prefix/
