# Build outputs
build/
*.o
*.bin
*.elf
*.map

# Editor files
.vscode/
*.swp

# Python
*.pyc
__pycache__/
.pytest_cache/

# Environment
.direnv/
.envrc

# Linux build
/examples/build/
/test_runtime/*.log
/test_runtime/priv/*.pem
/test_runtime/pub/*.pub
/test_runtime/test_unicast.conf

# ESP-IDF artifacts (generated in build/ when using idf.py build)
/esp-idf/
sdkconfig
sdkconfig.defaults
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
*.a
.flash_args
.flash_args.in
.flash_*.args
/flasher_args.json
/project_description.json
/compile_commands.json
/dependencies.lock
/config.env
/config/
/log/
/gdbinit/
/kconfigs.in
/ldgen_libraries*
/x509_crt_bundle.S
/app-flash_args
/bootloader-flash_args
/partition-table-flash_args
/bootloader-prefix/
/bootloader/
/partition_table/
/toolchain/
/project_elf_src_esp32.c
