CONFIG_TINYBFT_ENABLED=y
CONFIG_TINYBFT_TRANSPORT_ESPNOW=y
CONFIG_TINYBFT_TRANSPORT="ESP_NOW"
CONFIG_TINYBFT_MAX_MESSAGE_SIZE=8192
CONFIG_TINYBFT_NUM_REPLICAS=7
CONFIG_TINYBFT_MAX_NUM_CLIENTS=1
CONFIG_TINYBFT_WINDOW_SIZE=128
CONFIG_TINYBFT_CHECKPOINT_INTERVAL=128
CONFIG_TINYBFT_FRAG_TIMEOUT_MS=5000
CONFIG_TINYBFT_WIFI_CHANNEL=6

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_PARTITION_TABLE_SINGLE_APP=y

CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_SYSTEM_EVENT_QUEUE_SIZE=32
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096

# Route console to USB Serial JTAG instead of UART0
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
